main {
  h1 {
    font-size: 42px;
    font-weight: 600;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    padding: 30px;
  }

  .price h2 {
    font-size: 34;
    font-weight: 400;
  }

  .wrapper__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper__left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper__left-text {
    &.slider_label {
      font-size: 46px;
    }
  }

  .copytext__wrapper {
    margin-top: -20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .copytext {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;

    & button {
      background-color: transparent;
      border: none;
    }
    .copy-message {
      display: none;
      color: green;
      margin-top: 10px;
    }
  }

  .wrapper__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

    .wrapper__images-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  .wrapper__right {
    display: flex;
    flex-direction: column;
    .price__wrapper {
      display: flex;
      flex-direction: column;
      h1 {
        margin-top: 20px;
      }
    }
    .media__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .block {
    display: flex;
    .block__body {
      flex: 1 1 auto;
      min-width: 0;
    }
    .popup_btn {
      position: absolute;
      z-index: 200;
    }
  }

  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 50%;
      background: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.2);
      top: 0;
      z-index: 3;
    }
    &::before {
      left: -90px;
    }
    &::after {
      right: -80px;
    }
    & > * {
      position: relative;
      z-index: 2;
    }
  }

  .image-slider {
    padding: 30px 0 30px 0;
    &.swiper-slide {
      width: auto;
    }
  }

  .image-slider__image {
    text-align: center;
    & img {
      max-width: 95%;
    }
  }

  .image-slider-image {
    max-width: fit-content;
  }

  .image-slider__slide {
    transition: all 0.3s;
    &.swiper-slide-active {
      transform: scale(1.3);
    }
  }

  .description__wrapper {
    margin: auto;
    max-width: 800px;
    .description {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-weight: 400;

      margin: 0 20px;
      padding: 20px 40px;
    }
  }
}

@media (min-width: 861px) {
  main {
    .desc__container {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 120px;
    }

    .wrapper__right {
      margin-top: 20px;
      align-items: flex-end;
      gap: 25px;
      .price__wrapper {
        align-items: flex-end;
        p {
          margin-top: -5px;
        }
      }

      .media__wrapper {
        gap: 30px;
      }
    }
    .block {
      .popup_btn {
        left: 100px;
        top: 440px;
      }
    }
    .wrapper__left {
      gap: 40px;
    }
    .description__wrapper {
      .description {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 860px) {
  main {
    h1 {
      font-size: 36px;
    }
    .desc__container {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
    }

    .wrapper__left {
      gap: 25px;
    }

    .wrapper__right {
      margin-top: 0px;
      align-items: flex-start;
      gap: 10px;
      .price__wrapper {
        align-items: flex-start;
        p {
          margin-top: -10px;
        }
      }
      .media__wrapper {
        gap: 20px;
      }
    }

    .block {
      .popup_btn {
        left: 50px;
        top: 540px;
      }
    }

    .description__wrapper {
      .description {
        font-size: 12px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 550px) {
  .description__wrapper {
    .description {
      font-size: 10px;
      line-height: 20px;
      text-align: left;
    }
  }
}
